@mixin media() {
    @media (min-width: 768px) {
        @content;
    }
}
h1{
    font-family: 'Bookman, URW Bookman L', serif;
	font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #4721b0;
}
p{
    font-family:'Bookman, URW Bookman L', serif;
	font-size: 20px;
    text-align: center;
    text-shadow: 3px 3px 3px #333;
    color: white
}
body, html {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  line-height: 1.1;
  font-size: 16px;
  text-justify:  ;
}

#grad, html {
  background-image: linear-gradient(to right,rgb(174, 156, 255),#4721b0);
}

.siteTitle {
  display: block;
  font-weight: 900;
  font-size: 30px;
  margin: 20px 0;
  
  @include media {
    font-size: 60px;
  }
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

.card {
  height: 450px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 2.5px solid #601463;
  margin-bottom: 50px;
  background-image: url("rockartist.jpg");
    background-size: cover;
  
  @include media {
    height: 500px;
  }
}

.inner {
  height: 58%;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: rgb(174, 156, 255);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 40px;
  
  @include media {
    width: 50%;
    height: 100%;
  }
}

.title {
  font-family: 'Bookman, URW Bookman L', serif;
font-size: 3.8vh;
  top: +10px;
  color: rgb(32, 13, 54);  
  text-align: center;
  font-weight: 700;
  position: relative;
  margin: 0 0 10px 0;
  
  @include media {
    font-size: 30px;
  }
}

.subtitle {
  color: #4721b0;
  text-align: center;
font-size: 2.4vh
}

.card2 {
  background-image: url("classicalartist.jpg");
    background-size: cover;
    background-position: 100px 0px;
}

.card3 {
  background-image: url("popartist.jpg");
    background-size: cover;
    background-position: 100px 0px
}

.card4 {
  background-image: url("countryartist.jpg");
    background-size: cover;
    background-position: 100px 0px
}

.card5 {
  background-image: url("jazzartist.jpg");
    background-size: cover;
    background-position: 100px 0px
    
 }
footer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.footerLink {
  margin-right: 12px;
  color: #181818;
  text-decoration: none;
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgba(#b0215e, 0.3);
    left: 0;
    bottom: 0;
  }
  
  &:last-child {
    margin-right: 0;
  }
}